<div class="rd-footer">
  <p class="rd-footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</p>
  <ul class="rd-footer__links">
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>
    {% endif %}
    {% if site.author.linkedin %}
      <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/">LinkedIn</a></li>
    {% endif %}
    <li><a href="mailto:tchakravorty@ucsd.edu">Email</a></li>
  </ul>
</div>
